# Misc
.ash_history

# Python and Django
*.pyc
.env
staticfiles/
env/

# Node
node_modules/
npm-debug.log

# Front-end
viewer/core/static/**/bundle.*
.babel.json
.v8flags.*

# The presence of package-lock.json causes builds to occasionally fail. See this
# issue: https://github.com/npm/npm/issues/16839
package-lock.json
